<%= form_for @cohorts_instructor do |f| %>

  <div>
    <% f.label :cohort %>Cohort: 
    <%= f.select :cohort_id, options_for_select(@cohorts, @cohorts_instructor.cohort_id) %>
  </div>

  <div>
    <% f.label :instructor %>Instructor: 
    <%= f.select :instructor_id, options_for_select(@instructors, @cohorts_instructor.instructor_id) %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>