<p>
  This is where you can assign an Instructor to a Cohort.
</p>

<h3>Add a new Instructor to this Cohort</h3>

<div>
  <%= render 'form' %>
</div>


<br>
<%= link_to 'Cancel', cohorts_instructors_path %>