<h3>Cohort Details:</h3>

  <div>
    Cohort: <%= @cohort.name %>
  </div>

  <div>
    Start Date: <%= @cohort.start_date %>
  </div>

  <div>
    End Date: <%= @cohort.end_date %>
  </div>

  <div>
    Instructors: 
  </div>

  <div>
    Students: 
  </div>

<br>
<%= link_to 'Back', cohorts_path %>