<%= form_for @cohorts_student do |f| %>

  <div>
    <% f.label :cohort %>Cohort: 
    <%= f.select :cohort_id, @cohorts %>
  </div>

  <div>
    <% f.label :student %>Student: 
    <%= f.select :student_id, @students %>
  </div>

  <div>
    <%= f.submit %>
  </div>
<% end %>